{% extends 'base.html.twig' %}

{% block title %}Hello RegistroController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; width: 90%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container h-100">
        <div class="row-h-100-justify-content-center-align-items-center">
            <div class="col-6 bg-white rounded my-3 p-5">
                <h1>Registro</h1>
                {{ form(formulario) }}
            </div>
        </div>
    </div>

</div>
{% endblock %}
